<div id="board-wrapper">
  <div id="board">
    <table class="table current">
      <tbody>
        <tr class="current-user">
          <td>
            <div id="current-user-box">
              <h3>Me</h3>
              <% if @current_user_is_in %>
                <span class="in-status">Available</span>
              <% else %>
                <span class="out-status">Not Available </span>
                  <% if !(@status.nil? || @status.empty?) %>
                    <span class="status-message">(<%= @status %>)</span>
                  <% end %>
                </span>
              <% end %>
              <%= render 'change_status' %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="refresh">
      <i class="icon-refresh"></i>
      <%= link_to 'Refresh now', board_path, :remote => true, :id => 'refresh-board' %>
    </div>
    <%= render 'users' %>
  </div>
</div>
