<div class="center hero-unit">
  <h1>Welcome to the In and Out Board!</h1>
  <h2>
    If you are a new user, please click <%= link_to("here", new_user_registration_path) %> to register.
    Otherwise, please click <%= link_to("here", new_user_session_path) %> to sign in. 
  </h2>
</div>