@import "bootstrap";

$clioRed: #F80000;
$clioGrey: #878787;
$clioGreen: #009933;

html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.6em;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

h2.form-title {
  text-align: center;
  font-size: 2.2em;
  font-weight: normal;
  color: $clioGrey;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  width: 100%;
  margin-bottom: 15px;
  padding: 3px 0px;
}

div.field_with_errors input {
  border: 1px solid $clioRed;
}

input[type="checkbox"] {
  margin: 10px 0px 12px 0px;
}

/* footer */

footer {
  margin-top: 40px;
  padding-top: 8px;
  border-top: 1px solid $clioGrey;
  a {
    color: $clioGrey;
  }  
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* home */
.hero-unit {
  h1 {
    font-size: 50px;
  }
  text-align: center;
}

/* status */
#status-box {
  width: 365px;
  padding: 10px;
  margin: 0px auto;
  line-height: 0px;
  .in-status {
    color: $clioGreen;
    font-weight: bold;
  }
  .out-status {
    color: $clioRed;
  }
  form {
    .btn {
      padding: 3px 12px;
    }
  }
  input[type="text"] {
    margin-bottom: 0px;
    width: 160px;
  }
}

/* forms */
div#error_explanation {
  margin-bottom: 10px;
  padding: 10px;
  color: $clioRed;
  h2 {
    font-size: 18px;
    line-height: 20px;
    padding-left: 5px;
  }
}

/* login */
span.no-account, {
  a {
    vertical-align: bottom;
  }
  vertical-align: bottom;
  padding-left: 2px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing(border-box);
}