<footer class="footer">
  <nav>
    <ul>
      <li><a href="https://github.com/hansonwu/inout">View on GitHub</a></li>
      <li><a href="http://www.goclio.com/">Clio Home</a></li>
      <li><a href="http://about.me/hansonwu">About the author</a></li>
    </ul>
  </nav>
</footer>