<footer class="footer">
  <nav>
    <ul>
      <li><a href="https://github.com/hansonwu/inout">View on GitHub</a></li>
      <li>Site Developed by <a href="http://about.me/hansonwu">Hanson Wu</a></li>
    </ul>
  </nav>
</footer>